/* 侧边栏 */
.main .sidebar li{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.main .sidebar li:hover{
    background-color: #555;
    color: white;
}
li a.active {
    background-color: #4CAF50;
    color: white;
}

.main li p{
    padding: 5px;
    overflow: hidden;
    text-decoration: none;
    margin-right: 30px;
    
}
.main .sidebar span{
    color: gray;
    padding: 7px;
    margin-top: -5px;
}
.main .sidebar{
    width: 240px; 
    position: fixed; /* 固定侧边栏（滚动时保持原位）*/
    z-index: 1; /* 保持领先 */
    top: 180px; 
    left: 30px;
    overflow-x: hidden; /* 禁用水平滚动 */
    padding-top:5px;
    background-color: aliceblue;
}
.main .sidebar .one{
    background-color: antiquewhite;
    padding: 10px;
    text-align: center;
    border: 1px #fff solid;
}

/* 轮播 */
.main .banner{
    width:1200px;
	height:400px;
	margin:1rem auto;
	overflow: hidden;
	position: relative;
}

/* 动态 */
.banner .imgs{
	overflow: hidden;
	position: absolute;
	display: flex;
	animation: runing 10s ease infinite;
  
}

.banner .imgs{
    width:4800px;
	height:100%;
}

@keyframes runing{
	0%,10%{
		/* margin-left: 0; */
		transform: translateX(0);
	}
	20%,30%{
		/* margin-left: -1200px;; */
		transform: translateX(-1200px);
	}
	40%,50%{
		/* margin-left: -2400px; */
		transform: translateX(-2400px);
	}
	60%,70%{
		/* margin-left: -3600px; */
		transform: translateX(-3600px);
	}
	
}
/* 按钮 */
.banner .left,
.banner .right{
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    width: 50px;
    height: 50px;
    color: #fff;
    font-size: 3em;
    line-height: 50px;
    text-align: center;
    font-family: Arial;
    border-radius: 50%;
    cursor: pointer;
    }

.banner .left{
    left: 20px;
}
.banner .right{
    right: 20px;
}
.banner .left:hover,
.banner .right:hover{
    background-color: #fff;
    color: rgb(217, 154, 143);
       
} 

/* 搜索框 */
.search{
    float: right; 
    margin-top: -22px;
 
 }
 .search img{
     margin-top: -30px;
 }
 /* 链接 */
 .myhref{
    background-color: bisque;
    width: 15%;
    height: 100px;
    margin-bottom: 20px;
    padding: 20px;
    margin-left: 20%;

 }
 
 .myhref .lj a{
    color: #3c3b3b;
    display:inline-block;
    padding: 3px;   
 }
 .music{
    margin-left: 20%;

 }
 .music .span{
    color: #555;
    padding: 8px;
 }